@import 'palette.scss';

.courseOutlineContainer {
    margin-top: 12px;
}

.tree-view_arrow {
    float: right;
    margin-right: 8px;
    color: $color_light_highlight;
    transition: 0.1s;
}
.tree-view_item {
    color: white;
    margin-left: 7px;
    font-size: 14px;
    height: 24px;

    #text {
        vertical-align: middle;
    }
}

.courseOutlineSection .courseOutlineContainer {
    > .tree-view {
        margin-left: 7px;
        margin-top: 8px;
    }
    .tree-view:first-of-type {
        margin-top: 2px;
    }
}

.parentItem {
    font-weight: bold;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: $color_background;
}