@import 'palette.scss';

.draggable {
    display: block;
    margin: 18px 20px;
    height: 140px - 13px;

    background-color: $color_oc_blue;
    border-radius: 18px;

    padding: 7px 13px;

    user-select: none;
}

.codeTitle {
    display: inline-block;

    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    
    color: white;
}

.nonCodeTitle {
    display: inline-block;
    padding-left: 6px;

    font-size: 20px;
    font-weight: bold;

    color: white;
}

.description {
    display: block;

    margin-top: 7px;
    margin-bottom: 0px;

    font-size: 14px;
    
    color: white;
}