@import 'palette';

.inputBoxContainer {
    position: relative;
    bottom: 2px;
    width: 100%;
    height: 40px;
}

.separator {
    background-color: $color_background;
    width: 100%;
    height: 2px;
    z-index: 100;
}

.inputTextbox {
    border: none;

    background-color: $color_dark_highlight;

    width: 100%;
    height: 38px;

    color: white;
    
    padding-left: 8px;
}

.inputTextbox::placeholder {
    font-style: italic;
    color: $color_light_highlight;
}

.continueButton {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top: 20px;
    margin-top: -9px;
    line-height: 18px;
    right: 14px;
    cursor: pointer;
    color: white;
}