$color_dark_highlight: #111111;
$color_panel: #1E1E1E;
$color_background: #2C2C2C;
$color_light_highlight: #C0C0C0;
$color_header_bottom: #4C4C4C;
$color_header_top: #5F5F5F;

$color_oc_blue: #6697D0;
$color_oc_green: #89BD50;
$color_oc_red: #C22C3F;

$panel_shadow_spread: 12px;