@import 'palette';

$requirements_bar_height: 40px;

.requirementsContainer {
    position: relative;
    z-index: 11;
}

.requirementsBar {
    max-width: 100%;
    height: $requirements_bar_height;

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0px 14px;

    background-color: $color_dark_highlight;
    color: white;
}

.requirementsLabelContainer {
    cursor: pointer;
}

.requirementsLabel {
    font-size: 12px;
}

.nextSectionContainer {
    flex: 1;
    text-align: right;
}

.nextSectionButton {
    font-weight: bold;
    cursor: pointer;
}

.nextSectionButton.disabled {
    color: $color_background;
    cursor: default;
}


.requirementsListContainer {
    // position: absolute;
    width: 100%;
    // left: 0;
    // z-index: -1;

    overflow: hidden;
    
    // bottom: $requirements_bar_height;
    // top: auto;

    background-color: $color_dark_highlight;
}

.requirementsListContainer.closed {
    height: 0px;
}

.requirementCheckbox {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 16px;

    height: 40px;
    color: white;
}

.requirementCheckboxCheckbox {
    width: 16px;
    height: 16px;

    border-style: solid;
    border-width: 2px;
    border-color: $color_background;
    border-radius: 50%;
    
}
.requirementCheckboxCheckbox.complete {
    //border: none;
    background-color: $color_oc_green;
    border-color: $color_oc_green;
}

.requirementCheckboxDesc {
    margin-left: 8px;
}

.arrow {
    margin-left: 2px;
    transform: rotate(-90deg);
    transition: 0.1s;
    vertical-align: middle;
}

.arrow.open {
    transform: rotate(-180deg);
}