@import 'palette';

.panelHeader {
    display: flex;
    align-items: center;
    height: 26px;
    width: 100%;

    background-color: $color_dark_highlight;
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 14px;
}

.panelHeaderText {
	margin-left: 10px;
}