{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static "oc_server/css/loginregister.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="content">
        <div class="formContainer">
            <span class="logo">fluentcode</span>
            {% block form %}{% endblock %}
        </div>
    </div>
</body>
</html>