{% extends "registration/base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.username.errors }}
    {{ form.password1.errors }}
    {{ form.password2.errors }}
    <div class="tbContainer">
        {{ form.username }}
        <div class="separator"></div>
        {{ form.email1 }}
        <div class="separator"></div>
        {{ form.email2 }}
        <div class="separator"></div>
        {{ form.password1 }}
        <div class="separator"></div>
        {{ form.password2 }}
    </div>
    <input type="submit" value="Register" class="submitButton" />
</form>
{% endblock %}