body {
  background-color: #2C2C2C;
}

.gridContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 375px auto 260px;
  grid-template-rows: 64px auto 344px;
  grid-template-areas:
    "header header header"
    "docSidebar editor dragSidebar"
    "docSidebar output dragSidebar"
}

.header {
  background: linear-gradient(#5F5F5F, #4C4C4C);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;

  grid-area: header;
}

.outputPanel {
  background-color: #1E1E1E;
  border-top-style: solid;
  border-top-color: #111111;
  border-top-width: 1px;
  z-index: 10;

  grid-column: output;
  grid-row: 3;
}

.sidebarLeft {
  background-color: #1E1E1E;
  border-right-style: solid;
  border-right-color: #111111;
  border-right-width: 1px;
  box-shadow: 1px 0 12px 0 rgba(0, 0, 0, .2);
  z-index: 10;

  grid-column: docSidebar;
  grid-row: docSidebar;
}

.sidebarRight {
  background-color: #1E1E1E;
  border-left-style: solid;
  border-left-color: #111111;
  border-left-width: 1px;
  box-shadow: -1px 0 12px 0 rgba(0, 0, 0, .2);
  z-index: 10;
  
  grid-column: dragSidebar;
  grid-row: dragSidebar;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
