@import 'styles/palette';

body {
  background-color: $color_background;
  font-family: 'Open Sans', sans-serif;
}

// Contains absolutely everything
.appContainer {
  height: inherit;
  max-width: 100vw;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  background: linear-gradient($color_header_top, $color_header_bottom);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
  min-height: 48px;
}

// Everything but the header
.appContent {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-height: calc(100vh - 48px);
  max-width: inherit;
}

// Excluding the two sidebars
.centerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  height: inherit;
  max-height: inherit;
  max-width: inherit;
}

.outputPanel {
  background-color: $color_panel;
  border-top-style: solid;
  border-top-color: $color_dark_highlight;
  border-top-width: 1px;
  z-index: 10;
  height: 344px;

  display: flex;
  flex-direction: column;
}

.outputArea {
  background: transparent;
  color: transparent;
  text-shadow: 0 0 0 white;
  padding: 12px 16px;
  border: none;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
  overflow: auto;
  flex-grow: 1;
  resize: none;
}

.sidebarLeft {
  background-color: $color_panel;
  border-right-style: solid;
  border-right-color: $color_dark_highlight;
  border-right-width: 1px;
  box-shadow: 1px 0 $panel_shadow_spread 0 rgba(0, 0, 0, .2);
  z-index: 11;
  width: 375px;
}

.sidebarRight {
  background-color: $color_panel;
  border-left-style: solid;
  border-left-color: $color_dark_highlight;
  border-left-width: 1px;
  box-shadow: -1px 0 $panel_shadow_spread 0 rgba(0, 0, 0, .2);
  z-index: 11;
  width: 260px;
}

.courseOutlineSection {
  height: 50%;
}
.lessonContentSection {
  height: 50%;
}
