@import 'styles/palette';

body {
  background-color: $color_background;
  font-family: 'Open Sans', sans-serif;
}

.gridContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 375px auto 260px;
  grid-template-rows: 48px auto 300px;
  grid-template-areas:
    "header header header"
    "docSidebar editor dragSidebar"
    "docSidebar output dragSidebar"
}

.header {
  background: linear-gradient($color_header_top, $color_header_bottom);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;

  grid-area: header;
}

.outputPanel {
  background-color: $color_panel;
  border-top-style: solid;
  border-top-color: $color_dark_highlight;
  border-top-width: 1px;
  z-index: 10;

  grid-column: output;
  grid-row: 3;
}

.sidebarLeft {
  background-color: $color_panel;
  border-right-style: solid;
  border-right-color: $color_dark_highlight;
  border-right-width: 1px;
  box-shadow: 1px 0 $panel_shadow_spread 0 rgba(0, 0, 0, .2);
  z-index: 10;

  grid-column: docSidebar;
  grid-row: docSidebar;
}

.sidebarRight {
  background-color: $color_panel;
  border-left-style: solid;
  border-left-color: $color_dark_highlight;
  border-left-width: 1px;
  box-shadow: -1px 0 $panel_shadow_spread 0 rgba(0, 0, 0, .2);
  z-index: 10;
  
  grid-column: dragSidebar;
  grid-row: dragSidebar;
}
