body {
  background-color: #2C2C2C;
}

.gridContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 375px auto 260px;
  grid-template-rows: 64px auto 344px;
  grid-template-areas:
    "header header header"
    "docSidebar editor dragSidebar"
    "docSidebar output dragSidebar"
}

.header {
  background-color: #FF0000;
  grid-area: header;
}

.output {
  background-color: #0000FF;
  grid-column: output;
  grid-row: 3;
}

.docSidebar {
  background-color: #00FF00;
  grid-column: docSidebar;
  grid-row: docSidebar;
}

.dragSidebar {
  background-color: #FFFF00;
  grid-column: dragSidebar;
  grid-row: dragSidebar;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
