{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=600">
    <link href="{% static "oc_server/css/frontpage.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <title>fluentcode</title>
</head>
<body>
    <div id="contentContainer">
        <header>
            <a href="/">
                <img src="{% static "oc_server/images/Logo Black.png" %}"
                     srcset="{% static "oc_server/images/Logo Black@2x.png" %} 2x"
                     alt="fluentcode"
                     id="logo"
                >
            </a>
            <a class="topbarOptions" href="/register/">Register</a>
            <a class="topbarOptions" href="/login/">Login</a>
        </header>
        {% block content %}{% endblock %}
        <footer>
            <div id="links">
                <a href="https://github.com/treamology" target="_blank">
                    <img src="{% static "oc_server/images/GHLogo.png" %}"
                         srcset="{% static "oc_server/images/GHLogo@2x.png" %} 2x"
                         alt="GitHub"
                    >
                </a>
                <a href="https://twitter.com/treamology" target="_blank">
                    <img src="{% static "oc_server/images/Twitter.png" %}"
                         srcset="{% static "oc_server/images/Twitter@2x.png" %} 2x"
                         alt="Twitter"
                    >
                </a>
            </div>
            <br>
            <span id="copyright">© 2018 Donny Lawrence</span>
        </footer>
    </div>
</body>
</html>